@media (max-width: 400px) {

}
/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
    --blue: #002352;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
}

.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
 a {
    text-decoration: none;
 }

.home-section{
    position: absolute;
    background: var(--white);
    width:100%;
    transition: all 0.5s ease;
}
.sectionView{
    position:absolute;
    margin-top: 5%;
    width: 100%;
    height: auto;
    min-height: 130vh;
    padding-bottom: 30px;
}

.home-section .topbar{
    height: 50px;
    width:100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content:space-between;
    background-color: var(--blue);
    z-index: 101;
}

/* .home-section .topbar .toggle{
    color: var(--black2);
    font-size: 35px;
    margin: 0 15px;
    cursor: pointer
} */


.home-section .topbar .select{
    position: fixed;
    justify-content: center;
    width: 350px;
    padding: 20px;
    left: 61%;
    border-radius: 10px;
    font-size: 12px;
    border: 2px solid var(--black2);
    border: none;
}

.home-section .topbar .search label input{
    position: relative;
    width: 100%;
    height: 30px;
    padding: 10px 45px;
    border: 2px solid var(--black2);
    border-radius: 50px;
}

.home-section .topbar .search label i{
    color: var(--black2);
    padding: 3px;
    position: absolute;
    top: 17px;
    left: 22px;
    font-size: 17px;
}

.home-section .topbar button{
    position: relative;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: var(--white);
    padding: 8px;
    background-color: var(--blue);
    border-radius: 5px;
}

.pageSection{
    margin: 20px 0 20px 50px ;
}

.pageTitle{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color:var(--blue);
}


/* =================== HOME ================== */
.pageSection .homeContent{
    /* background-color: var(--black2); */
    margin-left: 40px;
    display: flex;
    position: relative;
    color: var(--blue);
}

.homeContent .desc{
    width: 40%;
    margin-top: 5%;
    padding: 0px 0;
}

.homeContent button {
	position: relative;
    width: 35%;
    margin-top: 5px;
    border-radius: 10px;
    border-color: transparent;
	background-color: var(--blue);
	color: #FFFFFF;
    padding: 5px 10px;
	letter-spacing: 1px;
	text-transform: uppercase;

}
.homeContent button:hover{
    background-color: orange;
}
.homeContent button a{
    text-decoration: none;
    margin-right: 10px;
    color: var(--white);
    font-weight: bold;
    font-size: 12px;
}
.homeContent button i{
    font-size: 15px;
    font-weight: bold;
}

.desc p{
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 5px;
    color: orange;
    letter-spacing: 2px;
}
.desc h2{
    margin-bottom: 20px;
    font-size: 30px;
}
.desc small{
    font-size: 12px;
    letter-spacing: 0;
    font-weight: normal;
    color: var(--blue);
    margin-top: 10px;
}

.homeContent .imageContent{
    width: 60%;
}
.imageContent img{
    width: 100%;
    border-radius: 20px;
}


/* ===== FEATURE LIST ===== */

.pageSection .featureList{
    position: absolute;
    /* background-color: #002452e6; */
    width: 75%;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 2% 10%;
    display: flex;
    flex-direction: column;
    color: var(--blue);
    border-radius: 20px;
    box-shadow: 0px 0px 15px 0px #0f6de770;
}
.featureList .title,
.featureList h2{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
.breakLine{
    position: absolute;
    left: 44%;
    height: 3px;
    width: 100px;
    margin: 15px 0px;
    background-color: var(--blue);
}

.featureList .features{
    display:table-column;
    position:relative;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    justify-content: space-between;
}
.featureList .features button{
    width: 4cm;
    height: 5cm;
    background-color: var(--blue); 
    border-color: transparent;
    color: var(--white);
    margin: 5px 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.43);
}
.featureList .features button:hover{
    background-color: orange;
    color: var(--white);
    transform: scale(1.05);
    transition: 300ms;
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 0, 0.399);
}
.featureList .features button i{
    display: flex;
    flex-direction: column;
    font-size: 80px;
    margin-bottom: 25px;
}
/* ============= READ DATA ============= */
.tableContainer{
    /* background-color: red; */
    margin: 15px;
    padding: 15px;
    width: 95%;
    border-radius: 20px 20px 10px 10px;
    box-shadow: 0px 0px 15px #04397f6b;
}

.table-div{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 15px;

}

.pageSection .row {
    margin-top: 30px;
}

.table-div thead tr {
    background-color: var(--blue);
    color: white;
    text-align: left;
}

.table-div th,
.table-div td{
    padding: 12px 15px;
}

.table-div tbody tr {
    border-bottom: 1px solid rgb(209, 209, 209);
}

.table-div tbody tr:nth-of-type(even){
    background-color: rgb(236, 236, 236);
}


.table-div tbody tr:hover{
    background-color: rgba(0, 221, 255, 0.114);
}

.btnAdd{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin-left: 86%;
    font-size: 14px;
    font-weight: bold;
    color: var(--white);
    padding: 8px;
    background-color: var(--blue);
    border-radius: 5px;
}
.btnEdit{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: var(--white);
    padding: 5px 7px;
    background-color: orange;
    border-radius: 5px;
}
.btnRemove{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: var(--white);
    padding: 5px 7px;
    background-color: red;
    border-radius: 5px;
}

/* ========== CREATE DATA ======= */

.container h3{
    position: relative;
    font-size: 30px;
    color: var(--blue);
    padding: 25px 0;
}

.container form{
    width: 500px;
    height: auto;
    position: relative;
    padding: 40px;
    margin: 30px 28%;
    background-color: #04397f28;
    border-radius: 15px;
}

.container form .form{
    margin: 20px 0;
}

.container form .form h5{
    font-size: 12px;
    padding: 5px 0;
    color: var(--blue);
}

.container form .form .form-control,
.container form .form select{
    width: 100%;
    height: 35px;
    border-radius: 10px;
    padding: 10px;
    font-size: 12px;
    color: var(--black1);
    border: none;
}

form .form-group{
    text-align: end;
}

form button{
    width: 2cm;
    height: 1cm;
    margin: 30px 0 0 5px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

.btn-danger{
    background-color: rgb(187, 16, 16);
    color: var(--white);
}
.btn-success{
    background-color: rgb(16, 65, 187);
    color: var(--white);
}
