/* ============= READ DATA ============= */
.tableContainer{
    /* background-color: red; */
    margin: 15px 0;
    padding: 10px;
    width: 95%;
    border-radius: 20px 20px 10px 10px;
    box-shadow: 0px 0px 15px #04397f6b;
}

.table-div{
    width: 97%;
    border-collapse: collapse;
    margin-top: 25px;
    font-size: 15px;

}

.pageSection .row {
    margin-top: 30px;
}

.table-div thead tr {
    background-color: var(--blue);
    color: white;
    text-align: left;
}

.table-div th,
.table-div td{
    padding: 12px 15px;
}

.table-div tbody tr {
    border-bottom: 1px solid rgb(209, 209, 209);
}

.table-div tbody tr:nth-of-type(even){
    background-color: rgb(236, 236, 236);
}


.table-div tbody tr:hover{
    background-color: rgba(0, 221, 255, 0.114);
}

.btnAdd{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin-left: 86%;
    font-size: 14px;
    font-weight: bold;
    color: var(--white);
    padding: 8px;
    background-color: var(--blue);
    border-radius: 5px;
}
.btnEdit{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: var(--white);
    padding: 5px 7px;
    background-color: orange;
    border-radius: 5px;
}
.btnRemove{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: var(--white);
    padding: 5px 7px;
    background-color: red;
    border-radius: 5px;
}

/* ========== CREATE DATA ======= */

.container h3{
    position: relative;
    font-size: 30px;
    color: var(--blue);
    padding: 25px 0;
}

.container form{
    width: 500px;
    height: auto;
    position: relative;
    padding: 40px;
    margin: 30px 27%;
    background-color: #04397f28;
    border-radius: 15px;
}

.container form .form{
    margin: 20px 0;
}

.container form .form h5{
    font-size: 12px;
    padding: 5px 0;
    color: var(--blue);
}

.container form .form .form-control,
.container form .form select{
    width: 100%;
    height: 35px;
    border-radius: 10px;
    padding: 10px;
    font-size: 12px;
    color: var(--black1);
    border: none;
}

form .form-group{
    text-align: end;
}

form button{
    width: 2cm;
    height: 1cm;
    margin: 30px 0 0 5px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

.btn-danger{
    background-color: rgb(187, 16, 16);
    color: var(--white);
}
.btn-success{
    background-color: rgb(16, 65, 187);
    color: var(--white);
}
