@media (max-width: 400px) {
    .sidebar.close .nav-links li .sub-menu{
        display: none;
    }
    .sidebar{
        width: 78px;
    }
    .sidebar.close{
        width: 0;
    }
    .home-section{
        left: 78px;
        width: calc(100% - 78px);
        z-index: 100;
    }
    .sidebar.close ~ .home-section{
        width: 100%;
        left: 0;
    }
}

.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}

.home-section{
    position: relative;
    background: var(--white);
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{
    left: 65px;
    width: calc(100% - 65px);
}

.home-section .topbar{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--blue);
}

/* .home-section .topbar .toggle{
    color: var(--black2);
    font-size: 35px;
    margin: 0 15px;
    cursor: pointer
} */

.home-section .topbar .search{
    position: relative;
    justify-content: center;
    width: 150px;
    padding: 15px;
}

.home-section .topbar .search label input{
    position: relative;
    width: 100%;
    height: 30px;
    padding: 10px 45px;
    border: 2px solid var(--black2);
    border-radius: 50px;
}
.home-section .topbar .search label i{
    color: var(--black2);
    padding: 3px;
    position: absolute;
    top: 17px;
    left: 22px;
    font-size: 17px;
}

.pageSection{
    margin: 20px 50px ;
}

.pageTitle{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color:var(--blue);
}

