/*.pageSection{
    margin-left: 55px;
    margin-right: 20px;
}
.pageSection .pageTitle{
    text-align: center;
    font-size: 30px;
}

.pageSection .row {
    width: 100%;
    margin-top: 30px;
}

.row .btnAdd{
    width: 100%;
    font-style: normal;
    font-size: 14px;
    font-weight: 700;
    justify-content: left;
}

.row .table{
    margin-top: 10px;
    width: 100%;
    justify-content: space-between;
}


.row .table .text-center{
    text-align: center ;
}*/

.table-div{
    width: 100%;
    border-collapse: collapse;
    margin: 25px 25px;
    font-size: 15px;
    box-shadow: 0 0 10px gray;
}

.table-div thead tr {
    background-color: orange;
    color: white;
    text-align: left;
}

.table-div th,
.table-div td{
    padding: 12px 15px;
}

.table-div tbody tr {
    border-bottom: 1px solid rgb(209, 209, 209);
}

.table-div tbody tr:nth-of-type(even){
    background-color: rgb(236, 236, 236);
}

.table-div tbody tr:last-of-type{
    border-bottom: 2px solid orange;
}

.table-div tbody tr .active-row{
    font-weight: bold;
}